.nav {
  max-width: 100%;
  overflow-x: scroll;
  font-size: 0.8rem;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  -webkit-box-shadow: 0px 1px 1px grey;
  -moz-box-shadow: 0px 1px 1px grey;
  box-shadow: 0px 0.5px 1px grey;
  // border-bottom: 1px rgb(175, 174, 174) solid;

  ul {
    display: flex;
    padding: 0 20px;
    gap: 10px;
  }
  li {
    margin: 7px;
    padding: 0;
    list-style: none;
    color: black;
  }
  li:hover {
    color: darkcyan;
  }
}
.nav::-webkit-scrollbar {
  display: none;
}
.last-nav {
  margin-right: 0.5rem;
}

.wrapper {
  margin: 0 1rem;
  position: absolute;
  top: 4.5rem;
  right: 0;
}
.header-wrapper {
  hr {
    margin-top: 0;
    color: grey;
  }
}
.news-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

  h3 {
    margin: 0;
  }
}

.user-input {
  width: 70%;
  position: relative;
  margin: 0.5rem auto;
  text-align: center;
  appearance: none;
}

.select-country {
  text-align: center;
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 80%;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  appearance: none;
}
.select-country:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.user-input select::-ms-expand {
  display: none;
}
.user-input:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.article {
  max-width: 100%;
  margin: 1rem 0;
}
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.text {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  margin: 0rem;
  text-align: left;
  font-family: nyt-cheltenham;
  line-height: 1.3rem;
}

.text h5 {
  font-size: 1.2rem;
  margin: 0;
  color: black;
}
.text p {
  font-size: 1rem;
  margin: 0;
  color: rgb(97, 97, 97);
  margin: 0.5rem 0;
}

img {
  max-width: 100%;
  margin-bottom: 1rem;
}
